{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}

<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}Devour it!{{/if}}
	</button>
	
</li>

